.friend-list {
    list-style: none;
}

.item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 26px;
    font-weight: bold;
    color: black;    
  box-shadow: 1px 1px 5px 1px #d3d2d2;
}

.item:not(:last-child) {
    margin-bottom: 15px;
}

.item > *:not(:last-child) {
 margin-right: 30px;
}

.status-on {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}

.status-off {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

