:root {
  --grey-text-color: rgb(135, 134, 134);
}

* {
  padding: 0;
  margin: 0;
}

section {
  width: 350px;
}

section:not(:last-child) {
  margin-bottom: 50px;
}

img {
  display: block;
}

:global(#root) {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}



